{% extends 'TuneMapsServiceBundle::main.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link href="{{ asset('bundles/tunemapsservice/css/display.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="{{ asset('bundles/tunemapsservice/js/display.js') }}"></script>
{% endblock %}

{% block body %}
<div id="container">
    <div id="progressbar"></div>
    From: <input type="text" id="pages_from" maxlength="4" />
    To: <input type="text" id="pages_to" maxlength="4" />
    <input type="button" id="startButton" value="Start crawling" /><br />
    <textarea id="log" cols="91" rows="25" readonly></textarea>
</div>
{% endblock %}