html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fbfbfb;
	background: url('../../bundles/tunemapsfront/images/bg_light.png');
}
div#container {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}
div#header {
	position: relative;
	min-width: 962px;
	color: #fff;
	font-family: arial, serif;
	padding: 0 14px 0 14px;
	height: 50px;
	background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 5px 2px #888;
	z-index: 5;
}
div#headercontent {
	width: 962px;
	margin: 0px auto;
    position: relative;
}
div#logo {
	display: inline-block;
    vertical-align: top;
    width: 220px;
}

#logo img{
	margin-top: -5px;
	margin-left: -10px;
	width: 170px;
}

div#search {
    display: inline-block;
    left: 220px;
}
div#search input {
	border: solid 1px #ccc;
	width: 300px;
	height: 20px;
	border-radius: 10px;
	margin-left: -5px;
	padding: 5px;
	margin-top: 9px;
	outline: none;
    background: url('../../bundles/tunemapsfront/images/search.png') no-repeat 10px 9px #fff;
	text-indent: 25px; 
	box-shadow: inset 0 0 10px #ccc;
    font-family: 'Open Sans';
    font-size: 16px;
}
div#search input:focus {
    background: #ffffff;
}
div#navigation {
    position: absolute;
	display: inline-block;
    vertical-align: top;
    right: 0px;
}
div#main {
	width: 962px;
	margin: 0px auto;
}
div#content {
	width: 960px;
	margin: 0px 1px;
	padding: 0px;
	background: #ffffff;
	border-top: 1px solid #dcdcdc;
	padding-bottom: 42px;
	box-shadow: #ccc 0 5px 5px 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
div#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 32px;
	background-color: #ccc;
	border-top: 1px solid #dcdcdc;
	z-index:150;
}
div#footercontent {
	width: 962px;
	margin: 0px auto;
}
div#spinner {
    margin: 32px auto;
    width: 128px;
    height: 128px;
}