html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fbfbfb;
	background-image: url('../images/background.png');
	background-repeat: repeat-y;
	background-position:center; 
}
div#container {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}
div#header {
	min-width: 962px;
	height: 65px;
	background-color: #eeeeee;
	border-bottom: 1px solid #dcdcdc;
}
div#headercontent {
	width: 962px;
	margin: 0px auto;
}
div#logo {
	width: 210px;
	float: left;
}
div#navigation {
	float: right;
}
div#main {
	width: 962px;
	margin: 0px auto;
	border-top: 16px solid #fbfbfb;
}
div#content {
	width: 960px;
	margin: 0px 1px;
	padding: 0px;
	background: #ffffff;
	border-top: 1px solid #dcdcdc;
	padding-bottom: 42px;
}
div#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 32px;
	background-color: #eeeeee;
	border-top: 1px solid #dcdcdc;
	z-index:150;
}
div#footercontent {
	width: 962px;
	margin: 0px auto;
}