ol.chart {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #cdcdcd;
}
ol.chart li {
    padding: 8px;
    border-bottom: 1px solid #cdcdcd;
}
ol.chart li:hover {
    cursor: pointer;
    background: #eeeeee;
}
ol.chart li div.image {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
}
ol.chart li div.image img {
    max-width: 64px;
    max-height: 64px;
}
ol.chart li div.description {
    display: inline-block;
    vertical-align: top;
    padding: 8px 16px;
    width: 350px;
    height: 48px;
}
ol.chart li div.title {
    font-size: 1.2em;
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
ol.chart li div.artist {
    color: #888888;
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#thisweek {
	display: inline-block;
	vertical-align: top;
	width: 464px;
	padding: 8px;
}
div#nextweek {
	display: inline-block;
	vertical-align: top;
	width: 464px;
	padding: 8px;
}
