p, ul, ol, a {
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #666666;
	margin: 0px 16px;
	padding: 0.9em 0px 0.1em 0px;
	line-height: 1.6em;
}
ul, ol {
	padding: 1.0em 0px 0px 32px;
}
ul li, ol li {
	padding: 0 2px;
}
h1,h2,h3,h4,h5,h6 {
	color: #444444;
	margin: 0px 16px;
	padding: 0.8em 0px 0.2em 0px;
	font-family: 'Open Sans',sans-serif;
	font-weight: 600;
}
h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 1.0em;
    font-weight: normal;
}
.error {
    color: #ee0000;
}
h1.error {
    margin-top: 32px;
    text-align: center;
}