<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset='UTF-8'>
<title>{% block title %}TuneMaps{% endblock %}</title>
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
{% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>