<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="UTF-8" />
<title>TuneMaps</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="generator" content="TuneMaps | Location based Music Community" />
{% block header %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>