{% extends 'TuneMapsFrontBundle::base.html.twig' %}

{% block stylesheets %}
<link href="../bundles/tunemapsfront/css/start.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div id="logo">
	<img src="{{ asset('bundles/tunemapsfront/images/logo-big.png') }}" alt="TuneMaps" />
</div>

<div id="facebook">
	<img src="{{ asset('bundles/tunemapsfront/images/fb_logo.png') }}" alt="FB" />
	<a href="{{ path('fos_user_security_login') }}"><span class="text">Login with Facebook</span></a>
</div>

<div id="bottom">
<ul>
	<li>Features</li>
	<li>How it works</li>
	<li>Sign up now</li>
</div>
{% endblock %}