{% extends 'TuneMapsFrontBundle::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/tunemapsuser/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div id="form">
{{ block('fos_user_content') }}
</div>
{% endblock %}
