div#player {
    margin: 0 auto;
    padding: 0px;
    width: 960px;
}
div#player div {
    display: inline-block;
    vertical-align: top;
}
div#player div.button {
    background: #fbfbfb;
    margin: 2px;
    height: 28px;
    width: 28px;
}
div#player div.button:hover {
    background: #ffffff;
    cursor: pointer;
}
img#pause {
    display: none;
}
div#player div#youtubecontainer {
    visibility: hidden;
    margin: 0px;
    padding-top: 64px;
    height: 2px;
    width: 2px;
    overflow: hidden;
}
div#details {
    font-family: 'Open Sans';
    color: #666666;
    font-size: 0.8em;
    line-height: 30px;
}