/* 
    Document   : crawler_main
    Created on : Dec 17, 2012, 2:50:06 PM
    Author     : Erwin
    Description:
        Purpose of the stylesheet follows.
*/

body {
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#log {
    width: 100%;
}

