{% extends 'TuneMapsFrontBundle:Main:main.html.twig' %}

{% block container %}
<h1>Events</h1>
<div id="events">
	<ul id="newsstream">
	
		{% for event in events %}
		<li><a href="map" class="map">
				<div class="map_overlay"></div>
				<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.lat }}, {{ event.long }}&zoom=10&size=300x70&maptype=terrain&sensor=false" class="eventmap" alt="map" />
			</a>
			<div class="date"><span class="dateNo">30</span><br />Dec</div>
			<div class="event_info">
				<h2>{{ event.name }}</h2>
				<strong>Featuring</strong>
					{% for artist in event.artists %}
						<a href="">{{ artist.name }}</a>,
					{% endfor %}
			</div>
		</li>
		{% endfor %}
		
	</ul>
</div>
{% endblock %}