<div id="header">
	<div id="header_content">
		<div id="logo">
			<a href="index.htm"><img src="{{ asset('bundles/tunemapsfront/images/logo.png') }}" alt="Tunemaps" /></a>
		</div>
		<ul>
			<li class="button">{{ app.user.username }}</li>
		</ul>
	</div>
</div>