<div id="header">
	<div id="header_content">
		<div id="logo">
			<img src="{{ asset('bundles/tunemapsfront/images/logo.png') }}" alt="Tunemaps" />
		</div>
		<ul>
			<li class="button" onClick="loadPage('map');">Events</li>
			<li class="button" onClick="loadPage('trends');">Trends</li>
			<li class="button" onClick="loadPage('explore');">Explore</li>
		</ul>
		<ul class="right">
			<li class="search">
				<form autocomplete="off">
				<input type="text" name="searchbar" id="searchbar" />
				</form>
				<ul id="search_results"></ul>
			</li>
			<li>{{ app.user.username }}</li>
			<li class="button"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
		</ul>
	</div>
</div>