{% extends 'TuneMapsFrontBundle::base.html.twig' %}

{% block stylesheets %}
<link href="../bundles/tunemapsfront/css/main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://www.youtube.com/iframe_api"></script>
<script src="{{ asset('bundles/tunemapsfront/js/main.js') }}"></script>
<script src="{{ asset('bundles/tunemapsfront/js/map.js') }}"></script>
<script src="{{ asset('bundles/tunemapsfront/js/MusicPlayer.js') }}"></script>
{% endblock %}

{% block body %}
{% include 'TuneMapsFrontBundle:Main:header.html.twig' %}
{% include 'TuneMapsFrontBundle:Main:navigation.html.twig' %}
<div id="container">
{% block container %}
{% endblock %}
</div>
{% endblock %}