{% extends 'TuneMapsFrontBundle::base.html.twig' %}

{% block stylesheets %}
<link href="../bundles/tunemapsfront/css/main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>var map;function initialize() {var mapOptions = {zoom: 10,center: new google.maps.LatLng(52.008238, 4.365864),mapTypeId: google.maps.MapTypeId.TERRAIN,streetViewControl: false }; map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions); } google.maps.event.addDomListener(window, 'load', initialize);</script>
<script src="../bundles/tunemapsfront/js/main.js"></script>
{% endblock %}

{% block body %}
{% include 'TuneMapsFrontBundle:Main:header.html.twig' %}
{% include 'TuneMapsFrontBundle:Main:map.html.twig' %}
<div id="container">
{% block container %}
<div id="content">
<div id="newsstream">
<h1>What's happening?</h1>
</div>
{% include 'TuneMapsFrontBundle:Main:recommendations.html.twig' %}
</div>
{% endblock %}
</div>
{% endblock %}