{% block javascripts %}
<script src="{{ asset('bundles/tunemapsfront/js/map.js') }}"></script>
{% endblock %}

{% block container %}
<div id="event_details">
	<img src="" />
	<h2 id="event_details_name">Event name</h2>
	<span id="event_details_location">Location</span>
	
	<div id="event_details_description" class="details">
		<strong>Featuring artists:</strong>
		<div id="event_details_artists"></div>
		<br />
		<strong>Date and time:</strong>
		<div id="event_details_datetime"></div>
	</div>
	
</div>

<div id="map_canvas" class="bigmap"></div>
{% endblock %}