{% extends 'TuneMapsFrontBundle:Main:main.html.twig' %}

{% block container %}
<div id="event_details">
	<img src="" />
	<h2>Event name</h2>
	Location
	
	<div class="details">
		Description
	</div>
	
	<h2>Featuring artists</h2>
	<a href="">Artist</a> <a href="">Artist</a> <a href="">Artist</a> <a href="">Artist</a> <a href="">Artist</a> <a href="">Artist</a> 
	<a href="">Artist</a> <a href="">Artist</a> <a href="">Artist</a> <a href="">Artist</a> 
</div>

<div id="map_canvas" class="bigmap"></div>
{% endblock %}