 <div id="menu">
	<ul>
		<li class="search">
			<form autocomplete="off">
			<input type="text" name="searchbar" id="searchbar" />
			</form>
		</li>
		<li class="label">Favorites</li>
		<li><a href="map">Map</a></li>
		<li><a href="map">Timeline</a></li>
		<li><a href="map">Events</a></li>
		<li><a href="map">Music Trends</a></li>
	</ul>
	
	<div id="player_controls">
		<div id="button_previous" class="button_controls previous"><<</div> 
		<div id="button_play" class="button_controls play">Pause</div>
		<div id="button_next" class="button_controls next">>></div>
	</div>
     <div id="player"></div>
</div>