{% extends 'TuneMapsFrontBundle:Main:main.html.twig' %}

{% block container %}
<h1>Timeline</h1>
<div id="timeline">
	<ul id="newsstream">
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
{% endblock %}