body {
	margin: 0px 0px 0px 0px;
}

#footer {
	padding: 5px 5px 5px 5px;
	background-color: grey;
	width: 220px;
	text-align: center;
}

#topfooter {
	padding: 5px 5px 5px 5px;
	width: 50px;
	background: grey;
	height:25px;
}

#footerContainer {
	position: fixed;
	bottom: 0px;
	width:100%;
}

#player {
	border-radius: 10px;

}